.filter-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.search-bar-container {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

.skill-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}
