.card-header {
  background-color: var(--secondary-color);
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.badge.bg-primary {
    background-color: var(--primary-color) !important;
}

