:root {
  --primary-color: #007EC1;
  --secondary-color: #00406E;

  --bs-primary: var(--primary-color);
  --bs-primary-rgb: 0, 126, 193;
  --bs-link-color: var(--primary-color);
  --bs-link-hover-color: var(--secondary-color);
}

body {
  padding-top: var(--navbar-height, 70px);
  padding-bottom: 70px;
}

